<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Replica de página de figma|Andrea Insignares</title>
    <link rel="stylesheet" href="/dia 9/styles/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:ital,wght@1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap" rel="stylesheet">

</head>

<body>
    <nav id="primerMenu">
        <ul>
            <li>writings.dev</li>
        </ul>
        <ul>
            <li>categories</li>
            <li>articles</li>
            <li>about</li>
        </ul>

    </nav>

    <header>
        <img src="/dia 9/media/Logo.svg" alt="Imagen principal">
        <h1>Writings for Developers</h1>
        <p>Curated collection of articles for busy developers</p>
    </header>
    <hr>

    <nav id="segundoMenu">
        <ul>
            <img src="/dia 9/media/Grid-Icon.svg" alt="Primer icono de menu">
            <img src="/dia 9/media/List-Icon.svg" alt="Segundo icono de menu">
            <li>JavaScript</li>
            <li>DevOps</li>
            <li>Cloud</li>
            <li>Terraform</li>
            <li>Architecture</li>
            <li>Scalability</li>
            <li>Explainers</li>
        </ul>
    </nav>

    <div id="contenido">
        <main id="cuerpo">

            <article id="primerArticulo">
                <img src="/dia 9/media/imagenUno.png" alt="Imagen del primer articulo">
                <section class="primeraSeccion">
                    <h2>Build continuous integration pipelines with GitHub Actions</h2>
                    <p>GitHub actions provide a really powerful way to integrate continuous integration and delivery
                        into your applications.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>

            <article id="segundoArticulo">
                <img src="/dia 9/media/imagenDos.png" alt="Imagen del segundo articulo">
                <section class="segundaSeccion">
                    <h2>Python for the Absolute beginners</h2>
                    <p>Python is the most popular programming language out there and it is used for so many different
                        industries.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>

            <article id="tercerArticulo">
                <img src="/dia 9/media/imagenTres.png" alt="Imagen del tercer articulo">
                <section class="terceraSeccion">
                    <h2>Docker from Zero to Hero</h2>
                    <p>Learn what is Docker and how Docker is used in the whole software development process.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>

            <article id="cuartoArticulo">
                <img src="/dia 9/media/imagenCuatro.png" alt="Imagen del cuarto articulo">
                <section class="cuartaSeccion">
                    <h2>Build continuous integration pipelines with GitHUb Actions</h2>
                    <p>GitHub actions provide a really powerful way to integrate continuous integration and delivery
                        into your applications.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>

            <article id="quintoArticulo">
                <img src="/dia 9/media/imagenCinco.png" alt="Imagen del quinto articulo">
                <section class="quintaSeccion">
                    <h2>Build continuous integration pipelines with GitHUb Actions</h2>
                    <p>GitHub actions provide a really powerful way to integrate continuous integration and delivery
                        into your applications.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>


            <article id="sextoArticulo">
                <img src="/dia 9/media/imagenSeis.png" alt="Imagen del sexto articulo">
                <section class="sextaSeccion">
                    <h2>Build continuous integration pipelines with GitHUb Actions</h2>
                    <p>GitHub actions provide a really powerful way to integrate continuous integration and delivery
                        into your applications.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>

            <article id="septimo_Articulo">
                <img src="/dia 9/media/imagenSiete.png" alt="Imagen del septimoo articulo">
                <section class="septimaSeccion">
                    <h2>Build continuous integration pipelines with GitHUb Actions</h2>
                    <p>GitHub actions provide a really powerful way to integrate continuous integration and delivery
                        into your applications.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>

            <article id="octavo_Articulo">
                <img src="/dia 9/media/imagenOcho.png" alt="Imagen del octavo articulo">
                <section class="octavaSeccion">
                    <h2>Build continuous integration pipelines with GitHUb Actions</h2>
                    <p>GitHub actions provide a really powerful way to integrate continuous integration and delivery
                        into your applications.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>

            <article id="noveno_Articulo">
                <img src="/dia 9/media/imagenNueve.png" alt="Imagen del noveno articulo">
                <section class="novenaSeccion">
                    <h2>Build continuous integration pipelines with GitHUb Actions</h2>
                    <p>GitHub actions provide a really powerful way to integrate continuous integration and delivery
                        into your applications.</p>
                </section>
                <footer>
                    <time>June 24, 2022</time> · DevOps
                </footer>

            </article>

        </main>
    </div>

    <nav id="tercerMenu">
        <ul>
            <li>Previous</li>
            <li>1</li>
        </ul>
        <ul>
            <li>2</li>
        </ul>
        <ul>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>Next</li>
        </ul>
    </nav>

    <section id="formulario">
        <h2>Aquí puedes agregar una nueva tarjeta 😀</h2>
        <form id="tarjetaFormulario">
            <label for="imagen">Agrega una Imagen</label>
            <input type="file" id="imagen" accept="image/*" required>

            <label for="titulo"> Agrega un título</label>
            <input type="text" id="titulo" placeholder="título" required>

            <label for="parrafo">Agrega un párrafo</label>
            <textarea id="parrafo" placeholder="párrafo" required></textarea>
            <button type="agregar" id="agregar">Crear tarjeta</button>
        </form>
    </section>

    <section id="cuerpoTarjetas">

    </section>

    <hr>
    <footer>
        <div class="grupo-izquierda">
            <p>writings.dev</p>
            <button>by @Kamrify</button>
        </div>

        <button class="twitter">
            <img src="/dia 9/media/Group 18.svg" alt="Icono de Twitter">
            Follow @writingsdev
        </button>
    </footer>

    <script src="/dia 9/Views/script.js">

    </script>

</body>

</html>