body {
  background-color: #232830;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

@font-face {
  font-family: poppins;
  src: url("../fonts/Poppins-Regular.ttf");
}

#primerMenu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #ffffff;
  font-family: poppins;
}

#primerMenu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  text-align: center;
  padding: 40px 20px;
}

header h1 {
  margin: 20px 0 10px;
  font-size: 71px;
  font-family: "Recursive", sans-serif;
  font-style: italic;
  color: #ff7575;
}

header p {
  margin: 0;
  color: #ffffff;
  font-family: poppins;
  font-size: 29px;
}

#segundoMenu {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: #909090;
  font-family: "Recursive", sans-serif;
  font-style: italic;
  font-size: 27px;
  justify-content: center;

}

#segundoMenu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

#contenido {
  padding: 30px 20px;
  justify-items: center;
}

#cuerpo {
  width: 100%;
  max-width: 1200px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 60px;
  padding: 0 40px;


}

article {
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 15px;

}

article section {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

}

article h2 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

article p {
  margin: 0 0 10px 0;
}

article footer {
  padding: 0 15px 12px 15px;
  font-size: 14px;
  color: #0f1217;
  text-align: left;
  display: contents;

}

#tercerMenu {
  text-align: center;
  margin-top: 40px;
  font-family: "Recursive", sans-serif;
  font-style: italic;
  font-size: 27px;
}

#tercerMenu ul {
  display: inline-flex;
  gap: 12px;
  padding: 0;
  list-style: none;
  margin: 0 10px;
}

#tercerMenu li {
  color: #909090;
}

#tercerMenu ul:nth-child(2) li {
  color: #ff7575;
  font-weight: bold;
  position: relative;
}

#tercerMenu ul:nth-child(2) li::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 3px;
  background: #ff7575;
  border-radius: 2px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 2rem 7rem;
}


.grupo-izquierda {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

footer p {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  display: flex;
}

footer button {
  background: #4699e0;
  color: white;
  font-size: 30px;
  font-weight: 600;
  border: none;
  padding: 6px 20px;
  border-style: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

twitter {
  margin-left: auto;
}

#formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px auto;
  max-width: 600px;
  padding: 20px;
  align-items: center;
  border-style: double;
  border-color: #ff7575;
  border-radius: 20px;
}

#formulario h2 {
  color: #ff7575;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center;
}

#tarjetaFormulario {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  color: #ff7575
}


#tarjetaFormulario input[type="text"],
#tarjetaFormulario textarea {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-family: "Source Sans Pro", sans-serif;
  width: 100%;
  box-sizing: border-box;
}

#tarjetaFormulario input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: #ff7575;
  box-sizing: border-box;
}

#tarjetaFormulario button {
  background: #4699e0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Source Sans Pro", sans-serif;
  width: fit-content;
  align-self: center;
}


hr {
  border: none;
  height: 2px;
  background-color: #4d4d4d42;
  width: 100%;
}

#articulo {
  background: #ffffff;
  border-radius: 12px;
  width: 340px;
  height: 439 px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 15px;
}